/10.0 Display Grid
/10.2 Grid Placement
/10.3 Mondrian Project
/11.0 Bootstrap Intro
/2.1 Heading Element
/4.0 File Paths
/4.1 Webpages
/4.3 HTML Porfolio Project
/6.3 CSS Box Model
/6.4 Motivation Meme Project
/8.0 CSS Display
/8.1 CSS Float
/8.3 Media Query
/8.4 Web Design Agency Project
/9.0 Display Flex
/9.4 Flexbox Pricing Table Project
/BirthDayInvite
/CapstoneProject
/CombiningSelectos_TODOListPage
/CSS_Cascade
/CSS_Positioning
/DemoPortFolio
/FlexDirection
/HTML_Tags.png
/MoveItWebSite
/Sizing
/TinDogWebsite
/WebDesignAgencySite
/WebDevNotes1.txt